@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <title>Сессия</title>
    </head>
    <body>
       <a asp-controller="Home" asp-action="About">Обо мне</a>
       <a asp-controller="Home" asp-action="Person">Субъект</a>
    </body>
</html>