@using TrainingCourses.Models
@model Person
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Message"]</title>
    </head>
    <body>
       <h1>Имя: @Model?.Name</h1>
       <h2>Возраст: @Model?.Age</h2>
    </body>
</html>
