@using SiteProduct.Models
@model IEnumerable<Product>
<html>
<head>
    @*<title>Товар</title>*@
    <title>Товары</title>
</head>
<body>
    @*@Model?.Name*@
    <table>
        <tr><td>Id</td><td>Наименование</td><td>Цена</td><td>Дата изготовления</td></tr>
    @foreach (var product in Model ?? new List<Product>())
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price.ToString("C")</td>
            <td>@product.ProductionDate.ToString("dd.MM.yyyy")</td>
        </tr>
    }
</table>
</body>
</html>