@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using FeedBack.Models;
@model SendFormFeedback;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Styles/styles.css">
    <title>Обратная связь</title>
</head>
<body>
    <div class="m-1 p-1">
        @if (@TempData["SendMessage"] != null)
        {
            <div class="alert alert-info mt-1">@TempData["SendMessage"]</div>
        }
        <form asp-action="Send" method="post">
            <div asp-validation-summary="ModelOnly"></div>
             <div class="form-group">
                    <label asp-for="IM">Ваше имя*:</label>
                    <div><span asp-validation-for="IM" class="text-danger"></span></div>
                    <input asp-for="IM" class="form-control" placeholder="Ваше имя" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Ваш Email*:</label>
                    <div><span asp-validation-for="Email" class="text-danger"></span></div>
                    <input asp-for="Email" class="form-control" placeholder="Ваш Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Sbj">Тема*:</label>
                    <div><span asp-validation-for="Sbj" class="text-danger"></span></div>
                    <input asp-for="Sbj" class="form-control" placeholder="Тема" />
                </div>
                <div class="form-group">
                    <label asp-for="MessageForSend">Ваше сообщение*:</label>
                    <div><span asp-validation-for="MessageForSend" class="text-danger"></span></div>
                    <textarea rows="5" asp-for="MessageForSend" class="form-control" placeholder="Ваше сообщение"></textarea>
                </div>
                <em>Поля, помеченные знаком * обязательны к заполнению</em>
                <div class="text-center"><button type="submit" class="btn btn-primary">Отправить сообщение</button></div>
          </form>
    </div>
</body>
</html>