<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Документ</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/ajax.js"></script>
</head>
<body>
    <style>
        body {
            padding: 30px;
            font-size: 18px;
            position: relative;
        }
    </style>
    <h1></h1>
    <h3></h3>
    <p></p>
    <button class="ajax">1. Test</button>  
    <button class="post">2. Post</button>
    <button class="get">3. Get</button>
    <button class="put">4. Put</button>
    <button class="delete">5. Delete</button>
</body>
</html>