<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Документ</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/setup.js"></script>
</head>
<body>
    <style>
        body {
            padding: 30px;
            font-size: 18px;
            position: relative;
        }
    </style>
    <div class="content"></div>
    <button>Тест</button>
</body>
</html>