<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Документ</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/methods.js"></script>
</head>
<body>
    <style>
        body {
            padding: 0;
            font-size: 18px;
            position: relative;
            height: 100vh;
            margin: 0;
        }
        button {
            margin: 30px 15px;
        }
        .loading {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            padding: 20px;
            z-index: 3;
            background-color: tomato;
            font-size: 10em;
            display: none;
        }
    </style>
    <button class="request">Запрос</button>
    <button class="broken">Ошибка</button>
    <button class="start">Запуск</button>
    <div class="loading">Загрузка</div>
</body>
</html>