<html>
<head>
    <title>Новый документ</title>
</head>
<body>
    <form method="post" action="~/Home/AcceptResultClass">
        <label>Код документа:</label><br />
        <input type="number" name="doc.Code" /><br />
        <label>Наименование:</label><br />
        <input type="text" name="doc.Title" /><br />
        <label>Кем выдан:</label><br />
        <input type="text" name="doc.IssuedBy" /><br />
        <input type="submit" value="Добавить" />
    </form>
</body>
</html>