<html>
<head>
    <title>Новый документ</title>
</head>
<body>
    <form method="post" action="~/Home/AcceptResult">
        <label>Код документа:</label><br />
        <input type="number" name="code" /><br />
        <label>Наименование:</label><br />
        <input type="text" name="title" /><br />
        <label>Кем выдан:</label><br />
        <input type="text" name="issuedBy" /><br />
        <input type="submit" value="Добавить" />
    </form>
</body>
</html>